/*css初始化B*/
* {
    margin: 0;
    padding: 0;
}
/* input,button,textarea {
    border: 0;
    outline: none;
} */
textarea {
    resize: none;
}
.clearfix:after {
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
li {
    list-style: none;
}
body {
    font: 12px "微软雅黑";
    height: 3000px;
    min-width: 1400px;
    width: 100%;
    color: #62a1c9;
}
a {
    color: #434343;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.hoverer {
    background-color: hotpink !important;
}
/*css初始化E*/